<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/static/favicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    
    <div class="container inbox">
        <div class="row">
            <div class="box">
                <h3>Well diet!</h3>
                <p>
                <span>New link : </span>
                <a target="blank" href="{{link}}">{{base}}{{link}}</a>
                </p>
                <p><span>views : </span>{{view}}</p>
                <p><a href="{% url 'home' %}">Try again!</a></p>
            </div>
        </div>
    </div>
</body>
</html>